---
---

@import "{{ site.theme }}";

body {
  // Add a blue gradient at the top of the page, behind the superhero image
  background-color: white;
  background: #fff linear-gradient(169deg, #7ab4ffc7 0px, #fff 500px) no-repeat;
}

.markdown-body img {
  // Remove the white background from that the default theme applies to images
  background-color: transparent;
}
