<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

    <link href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-center text-small text-gray">
        <a href="{{ site.github.owner_url }}">{{ site.data.author | default: site.github.owner_name }}</a>
        |
        <a href="{{ site.github.repository_url }}">GitHub</a>
        {% if site.data.twitter and site.data.twitter.username %}
        |
        <a href="https://twitter.com/{{ site.data.twitter.username }}">@{{ site.data.twitter.username }}</a>
        {% endif %}
        <br>
        This site is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %}
    </div>

    <script src="{{ "assets/javascript/anchor-js/anchor.min.js" | relative_url }}"></script>
    <script>anchors.add();</script>
  </body>
</html>